# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
next-env.d.ts.bak

# misc
.DS_Store
*.tsbuildinfo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env*.local

# typescript
*.tsbuildinfo
